Tex/
Plots/
Papers/
other/
stan/animal/
stan/multivariate/
stan/old_animal/
stan/old_data/
stan/old_testing/
stan/skew_normal/
stan/skew_t/
stan/survival/
stan/testing_multi_animal/
R/analysis_prelim/
R/dhglms/
R/old/
R/plots/
R/sib_comp/
R/skew_evol/
R/skew_testing/
R/stan_mods/
R/testing_multi_animal/
Data/Intermediate/old/
Data/Intermediate/selection_gradient*[0-9]*
